#Layout:
#artistname  albumname=spotifyURI
#URI = spotify:album:shareLinkUntilFirst?

kendrick  section80=spotify:album:1bkN9nIkkCnXeG4yitVS1J  gkmc=spotify:album:0Oq3mWfexhsjUh0aNNBB5u  tpab=spotify:album:7ycBtnsMtyVbbwTfJwRjSP  damn=spotify:album:4eLPsYPBmXABThSJ821sqY  morale=spotify:album:79ONNoS4M9tfIA1mYLBYVX  gmx=spotify:album:0hvT3yIEysuuvkK73vgdcW

queen  queen1=spotify:album:763x2B8AWacqWDjP9KjM5l  queen2=spotify:album:0NouBnbXRJKFWzm9LwCW0K  sheerheartattack=spotify:album:5SBHID8qGG3x52zgoh2ilz

tyler  flowerboy=spotify:album:2nkto6YNI4rUYTLqEwWJ3o  igor=  callme=  chromakopia=
