#Layout: Inside the commas before the album name is what will show when checking all available albums
#artistname  albumname=spotifyURI
#URI = spotify:album:shareLinkUntilFirst?

kendrick  ,Section.80, section80=spotify:album:1bkN9nIkkCnXeG4yitVS1J  ,good kid. m.A.A.d city,gkmc=spotify:album:0Oq3mWfexhsjUh0aNNBB5u  ,To Pimp a Butterfly,tpab=spotify:album:7ycBtnsMtyVbbwTfJwRjSP  ,DAMN.,damn=spotify:album:4eLPsYPBmXABThSJ821sqY  ,Mr.Morale & The Big Steppers,morale=spotify:album:79ONNoS4M9tfIA1mYLBYVX  ,GNX,gnx=spotify:album:0hvT3yIEysuuvkK73vgdcW

queen  ,Queen I,queen1=spotify:album:763x2B8AWacqWDjP9KjM5l  ,Queen II,queen2=spotify:album:0NouBnbXRJKFWzm9LwCW0K  ,Sheer Heart Attack,sheerheartattack=spotify:album:5SBHID8qGG3x52zgoh2ilz

tyler  ,Flower Boy,flowerboy=spotify:album:2nkto6YNI4rUYTLqEwWJ3o  ,IGOR,igor=spotify:album:5zi7WsKlIiUXv09tbGLKsE  ,CALL ME IF YOU GET LOST,callme=spotify:album:45ba6QAtNrdv6Ke4MFOKk9  ,Chromakopia,chromakopia=spotify:album:0U28P0QVB1QRxpqp5IHOlH
